<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForeverHomeFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='assets/logo.png')}}" alt="Website Logo" id="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('animals') }}">Animals</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <!-- <li><a href="login.html">Login/Register</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <form action="{{ url_for('insert_animal') }}" method="post" enctype="multipart/form-data" class="animal-add-form">
            <input type="text" name="animalName" placeholder="Animal Name" required>
            <input type="text" name="animalType" placeholder="Animal Type" required>
            <input type="number" name="animalAge" placeholder="Animal Age" required>
            <input type="text" name="animalBreed" placeholder="Animal Breed" required>
            <input type="file" name="animalImage" required>
            <input type="submit" value="Add Animal">
            <a href="{{ url_for('animals') }}" class="back-to-animals">Back to Animals</a>
        </form>
    </main>
</body>

</html>
