<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForeverHomeFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='assets/logo.png')}}" alt="Website Logo" id="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('animals') }}">Animals</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <!-- <li><a href="login.html">Login/Register</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <h1>{{ animal.AnimalName }}</h1>
        <img src="{{ url_for('static', filename='assets/' + animal.AnimalImage) }}" alt="{{ animal.AnimalName }}" class="animal-image">
        <ul>
            <li><strong>ID:</strong> {{ animal.AnimalId }}</li>
            <li><strong>Name:</strong> {{ animal.AnimalName }}</li>
            <li><strong>Type:</strong> {{ animal.AnimalType }}</li>
            <li><strong>Age:</strong> {{ animal.AnimalAge }}</li>
            <li><strong>Breed:</strong> {{ animal.AnimalBreed }}</li>
        </ul>
        <a href="{{ url_for('animals') }}">Back to Animals</a>
    </main>
    <footer>
    </footer>
</body>

</html>
