<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForeverHomeFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='assets/logo.png')}}" alt="Website Logo" id="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('animals') }}">Animals</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <!-- <li><a href="login.html">Login/Register</a></li> -->
            </ul>
        </nav>
    </header>
    <main class="animal-description">
        <img src="{{ url_for('static', filename='assets/' + animal.AnimalImage) }}" alt="{{ animal.AnimalName }}" class="description-image">
        <h1>{{ animal.AnimalName }}</h1>
        <p><strong>Type:</strong> {{ animal.AnimalType }}</p>
        <p><strong>Breed:</strong> {{ animal.AnimalBreed }}</p>
        <p><strong>Age:</strong> {{ animal.AnimalAge }}</p>
        <label for="visit_time">Choose a time to visit:</label>
        <form action="{{ url_for('animaldescription', animal_id=animal.AnimalId) }}" method="post">
            <!-- Dropdown for scheduling -->
            <select class="custom-dropdown" name="selected-time">
                {% for time_slot in available_times %}
                    <option value="{{ time_slot }}">{{ time_slot }}</option>
                {% endfor %}
            </select>
        
            <button class="schedule-btn" type="submit">Schedule Visit</button>
        </form>
        <form action="{{ url_for('delete_animal', animal_id=animal.AnimalId) }}" method="post">
            <button type="submit" class="delete-button">Delete</button>
        </form>
        <a href="{{ url_for('animals') }}" class="back-to-animals">Back to Animals</a>
    </main>
</body>

</html>
